<a href="https://colab.research.google.com/github/saifudnm/jagoan_hosting/blob/master/mtcars.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import numpy as np
import matplotlib
import matplotlib.pyplot as plt

In [0]:
# import data
url = 'https://raw.githubusercontent.com/saifudnm/jagoan_hosting/master/mtcars.csv'
data = pd.read_csv(url)

In [11]:
data.head()

                Cars   mpg  cyl   disp   hp  ...   qsec  vs  am  gear  carb
0          Mazda RX4  21.0    6  160.0  110  ...  16.46   0   1     4     4
1      Mazda RX4 Wag  21.0    6  160.0  110  ...  17.02   0   1     4     4
2         Datsun 710  22.8    4  108.0   93  ...  18.61   1   1     4     1
3     Hornet 4 Drive  21.4    6  258.0  110  ...  19.44   1   0     3     1
4  Hornet Sportabout  18.7    8  360.0  175  ...  17.02   0   0     3     2

[5 rows x 12 columns]

**Menambahkan Kolom mpg_level**

In [12]:
# create funct mpg_level
def mpg_level():
    value_list = []
    for i in range(len(data)):
        if data.loc[i, 'mpg'] < 20:
            value_list.append('low')
        elif data.loc[i, 'mpg'] in range(20,31):
            value_list.append('medium')
        else:
            value_list.append('hard')
    return value_list

# create mpg_level column & fill with mpg_level func
data['mpg_level'] = pd.Series(mpg_level(), index=data.index)

data.head()

                Cars   mpg  cyl   disp   hp  ...  vs  am  gear  carb  mpg_level
0          Mazda RX4  21.0    6  160.0  110  ...   0   1     4     4     medium
1      Mazda RX4 Wag  21.0    6  160.0  110  ...   0   1     4     4     medium
2         Datsun 710  22.8    4  108.0   93  ...   1   1     4     1       hard
3     Hornet 4 Drive  21.4    6  258.0  110  ...   1   0     3     1       hard
4  Hornet Sportabout  18.7    8  360.0  175  ...   0   0     3     2        low

[5 rows x 13 columns]